DB_NAME: unclog_db
DB_USER: user
DB_PASSWORD: secret
DB_SSLMODE: disable
DB_HOST: localhost
DB_PORT: 5432

WINDOWING_INTERVAL_IN_SECOND_V1: 10
WINDOWING_INTERVAL_IN_SECOND_V2: 10

ALERT:
  ERROR:
    GO-PAY-BACKEND: 1
    GO-PAY-BACKUP: 1
    GO-PAY-WALLET: 1
  DEBUG:
    GO-PAY-BACKEND: 1
    GO-PAY-BACKUP: 1
    GO-PAY-WALLET: 1
  INFO:
    GO-PAY-BACKEND: 1
    GO-PAY-BACKUP: 1
    GO-PAY-WALLET: 1
  TRACE:
    GO-PAY-BACKEND: 1
    GO-PAY-BACKUP: 1
    GO-PAY-WALLET: 1
  UNLISTED:
    GO-PAY-BACKEND: 1
    GO-PAY-BACKUP: 1
    GO-PAY-WALLET: 1
  WARN:
    GO-PAY-BACKEND: 1
    GO-PAY-BACKUP: 1
    GO-PAY-WALLET: 1
  FATAL:
    GO-PAY-BACKEND: 1
    GO-PAY-BACKUP: 1
    GO-PAY-WALLET: 1
  OFF:
    GO-PAY-BACKEND: 1
    GO-PAY-BACKUP: 1
    GO-PAY-WALLET: 1
